    #Select1 {
        width: 170px;
        height: 23px;
    }

    #TextArea1 {
        height: 280px;
        width: 420px;
        font-size:14px;
    }

    .auto-style1 {
        width: 388px;
    }
